{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Currency Converter</span></h1>
            </div>

            <div id="content">

                <div>
                    <input class="form-control" type="number" value="1" id="base_input">
                    <select class="form-control" id="base_list"></select>
                    =
                    <input class="form-control" type="number" id="target_input">
                    <select class="form-control" id="target_list"></select>
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var rates = {{ rates|json_encode()|raw }};
    </script>
    {{ parent() }}
{% endblock %}
